<div id="noWish">
    <div class="share"></div>
    <div class="wish-tip">
        <div class="wish-tip-title">
            准备结婚了，想听听朋友们有什么话想对你说吗？快快点击页面右上角将这份欢喜分享给朋友们吧！
        </div>
    </div>
</div>
