<div class="photo-first">
    <img src="<%=data.pic_home.path%>">
    <div class="bg-photo"></div>
</div>
<div class="wedding-name">
    <b class="previous"></b>
    <span class="boy-name"><%=data.boys_name%></span>
    <span class="and-syb"></span>
    <span class="girl-name"><%=data.girls_name%></span>
    <b class="back"></b>
</div>
<div class="wedding-date">
    <%=data.wedding_date%>
</div>
<div class="wedding-hotel">
    地址——<%=data.wedding_hotel%>
</div>
<div class="wedding-position">
    <%=data.wedding_location%>
</div>
<div class="wedding-card">
    <%=data.card%>
</div>
<div class="sel-area">
    <span class="ok" data-pageswitch='{"currentPage": "page5", "nextPage": "page6"}'>确定前往</span>
    <span class="refuse" data-pageswitch='{"currentPage": "page5", "nextPage": "page7"}'>我去不了</span>
</div>