#page1{
	width:100%;
	height:100%;
	background:url(/static/img/bg.jpg) 0 0 no-repeat;
	background-size:100% 100%;
	.dir{
		margin-top:8rem;
		div{
			width:7.1rem;
			height: 1.7rem;
			text-indent:-9999px;
			margin:1.5rem auto;
			color:#FFF;
		}
	}
	#weddingCard {
		background:url(./card.png) 0 0 no-repeat;
		background-size:100% 100%;
	}
	#weddingGift{
		background:url(./gift.png) 0 0 no-repeat;
		background-size:100% 100%;
	}
	#weddingWish{
		background:url(./wish.png) 0 0 no-repeat;
		background-size:100% 100%;
	}
	#weddingTogether{
		background:url(./together.png) 0 0 no-repeat;
		background-size:100% 100%;
	}
}