<%for(var i = 0, len = data.length; i < len; i++){ %>
    <div class="gift-like-item">
            <img src="<%=data[i].gift.img_url%>">
            <span class="gift-like-bg">&nbsp;</span>
            <span class="gift-like-title"><%=data[i].gift.name%></span>
    </div>
<%}%>
