#page6 {
    .edit-area {
        position: relative;
        width:17.75rem;
        height: 10.65rem;
        margin:1rem auto;
        padding-top: .6rem;
        background-image: url('edit.png');
        background-size:17.75rem 10.65rem;
        div {
            width: 90%;
            height: 2.1rem;
            margin:0 auto;
            line-height: 2.1rem;
            span {

            }
        }
    }
    .submit-btn {
        width:6rem;
        height:2rem;
        margin:0 auto;
        font-size: 0.7rem;
        line-height: 2rem;
        color:#FFF;
        text-align: center;
        margin-bottom: 1rem;
        background-color: #AEC688;
        border-radius: 20px;
    }
}