<div class="head">
	<%if (data.refer !== ''){%>
		<span class="back" data-pageswitch='{"currentPage":"<%=data.currentPage%>","nextPage":"<%=data.nextPage%>"}'>返回</span>
	<%}%>
	<%if (data.title !== ''){%>
		<span class="title"><%=data.title%></span>
	<%}%>
</div>