<%for(var i = 0, len = data.length; i < len; i++) {%>
<div class="part-item">
	<div class="photo-menu" data-type_id="<%=data[i].type_id%>">
		<input type="text" class="photo-title" value="<%=data[i].type_name%>" readonly>
		<span class="photo-edit"></span>
		<span class="photo-add"></span>
	</div>
	<% var length = data[i].imgs.length; %>
	<div class="photo-list <%if(length > 0){ %>photo-list-high<%}%>">
		<%for(var j = 0; j < length; j++){%>
		<div class="photo-item" data-photosrc="<%=data[i].imgs[j].path%>">
			<img src="<%=data[i].imgs[j].path%>">
		</div>
		<%}%>
	</div>
</div>
<%}%>