<div class="content">
    <div class="photo-first">
        <img src="<%=data.pic_home.path%>">
        <div class="bg-photo"></div>
    </div>
    <div class="wedding-name">
        <b class="previous"></b>
        <span class="boy-name"><%=data.boys_name%></span>
        <span class="and-syb"></span>
        <span class="girl-name"><%=data.girls_name%></span>
        <b class="back"></b>
    </div>
    <div class='dir'>
        <div id="weddingCard" data-pageswitch='{"currentPage": "page2","nextPage": "page3"}'>喜帖</div>
        <div id="weddingGift" data-pageswitch='{"currentPage": "page2","nextPage": "page12"}'>礼物</div>
        <div id="weddingWish" data-pageswitch='{"currentPage": "page2","nextPage": "page10"}'>祝福</div>
        <div id="weddingTogether" data-pageswitch='{"currentPage": "page2", "nextPage": "page8"}'>互动</div>
    </div>
</div>